<div class="container">
    <div class="row">
        <div class="col d-flex">
            <h2 class="artist_name">{{artist?.profile?.name}}</h2>
            <img *ngIf="artist?.profile?.verified" src="assets/images/verified-logo.png" alt="verified check mark" height="50px">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-8 d-flex flex-column">
            <h4>Bio</h4>
            <p class="artist_bio" [ngClass]="{'shortened': shortened}">
                {{artist?.profile?.biography.text}}
            </p>
            <a class="mb-3 show-hide-text clickable" (click)="shortened = !shortened">{{shortened ? 'Read More' : 'Show Less'}}</a>
        </div>

        <div class="col-sm-12 col-md-4 d-flex flex-column">
            <h4>Social</h4>
            <div class="social_icons" *ngIf="artist?.profile?.externalLinks.items.length > 0; else noSocial">
                <a *ngFor="let link of artist?.profile?.externalLinks.items" [href]="link.url">
                    <i class="fab fa-lg fa-facebook mr-3" *ngIf="link.name === 'FACEBOOK'"></i>
                    <i class="fab fa-lg fa-twitter mr-3" *ngIf="link.name === 'TWITTER'"></i>
                    <i class="fab fa-lg fa-instagram mr-3" *ngIf="link.name === 'INSTAGRAM'"></i>
                    <i class="fab fa-lg fa-wikipedia-w mr-3" *ngIf="link.name === 'WIKIPEDIA'"></i>
                </a>
            </div>
            <ng-template #noSocial>No social links available</ng-template>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12 col-md-8">
            <track-list [tracks]="artistTracks"></track-list>
        </div>
    </div>
</div>