@font-face {
  font-family: josefin-sans-regular;
  src: url(assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: josefin-sans-semi-bold;
  src: url(assets/fonts/JosefinSans-SemiBold.ttf);
}
@font-face {
  font-family: josefin-sans-bold;
  src: url(assets/fonts/JosefinSans-Bold.ttf);
}

body {
  font-family: josefin-sans-regular;
}

:root {
  --primary-bg-color: #6b4ba6;
  --secondary-bg-color: #6c3342;
}

.primary_text {
  color: #6b4ba6;
}
.primary_background {
  background-color: #6b4ba6;
  color: #fff;
}

.seconday_text {
  color: #6c3342;
}

.clickable {
  cursor: pointer;
}
